html {
    background-color: #46211A;
}
.tictacrows {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3,150px);
    justify-content: center;
    color: #F1D3B2;
    font-size:xx-large;
    cursor: pointer;
    padding-top: 20px;
}
.tictacrows div{
    border: #F1D3B2 solid;
    text-align: center;
    padding: -10px;
}