html {
    background-color: #46211A;
}
.tictacrows {
    display: grid;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    color: #F1D3B2;
    font-size: 50px;
}
#a1 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#a2 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#a3 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#b1 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#b2 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#b3 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#c1 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#c2 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
#c3 {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
}
