html {
    background-color: #46211A;
}
.tictacrows {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3,150px);
    justify-content: center;
    color: #F1D3B2;
    font-size:xx-large;
    cursor: pointer;
}
.tictacrows div{
    border: #F1D3B2 solid;
    text-align: center;
    padding: -10px;
}
#reset {
    background-color: #752817;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}